@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0QzRDNEMyIgb3BhY2l0eT0iMC44Ii8+Cjwvc3ZnPgo='),
    auto;
}

body *:hover {
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0QzRDNEMyIgb3BhY2l0eT0iMC44Ii8+Cjwvc3ZnPgo='),
    auto;
}

body:active *:hover {
  cursor: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0QzRDNEMyIgb3BhY2l0eT0iMC44Ii8+Cjwvc3ZnPgo='),
    auto;
}

/* Makes the scrollbar background transparent */
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

/* Makes the scrollbar track (background) transparent */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Sets the scrollbar handle as semi-transparent */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  border-radius: 6px;
}
